$stuffIndex: 1;
$mainContentIndex: 2;
$overlapIndex: 3;
$backModalIndex: 4;
$modalIndex: 5;
$toastIndex: 6;
$totalIndex: 7;

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin flexCenter {
    @include flex();
    justify-content: center;
}

@mixin flexVert {
    display: flex;
    flex-direction: column;
}

@mixin flexCenterVert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin font(
    $size,
    $weight: 400,
    $lheight: 1.1em,
    $color: #000,
    $family: 'Inter'
) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $lheight;
    font-family: $family;
}

@mixin box($width, $height: $width) {
    width: $width;
    height: $height;
}

@mixin coverBackground {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

@mixin lightShadow {
    box-shadow: 0px 0px 10px 0px #1e293b1a;
}

@mixin hoverTransition($field: background-color) {
    transition: $field 0.1s 0.01s;
}
