@import './font.css';

:root {
    --dark-blue: #1e293b;
    --blue: #63b6f2;
    --sky: #c1e0ff;
    --danger: #ff1f00;
    --white: #ffffff;
    --black: #000;
    --light-grey: #dae3eb;
    --dark-grey: #4a5568;
    --opacity-red: #ff7f7f;
}

* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;

    background-size: cover;
    background-position: center;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

button,
input {
    border: none;
    outline: none;
    background-color: transparent;
    font-family: inherit;
}

button {
    font-family: 'Inter';
    font-size: inherit;

    cursor: pointer;
    background-color: transparent;
}

a {
    cursor: pointer;
}

img {
    display: block;
    object-fit: cover;
    object-position: center;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    margin: 0;
    width: 100%;
    overflow-x: hidden;

    height: max-content;
    min-height: 100vh;

    font-family: 'Inter';
    font-size: 16px;
    line-height: 18px;

    color: var(--dark-blue);
}
