@import './base.scss';

.input {
    border: 1px solid var(--light-grey);
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    @include font(12px);
    position: relative;
}

.input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}

.input::placeholder {
    @include font(12px, 400);
    color: var(--dark-grey);
}

.errorMessage {
    @include font(12px, 400);
    color: var(--danger);
}

.errorInput {
    border-color: var(--opacity-red);
}
